@use "../../assets/styles/variables.scss" as *;

.rating {
	justify-self: end;
	display: flex;
	align-items: center;

	& svg {
		height: 2rem;
		color: $color-primary;

		@media screen and (width < $bp-mobile) {
			height: 1.125rem;
		}
	}
}
