@use "../../assets/styles/variables.scss" as *;

.card {
	display: flex;
	aspect-ratio: 1;
	position: relative;
	border-radius: 0.6125rem;
	overflow: hidden;
}

.title {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	color: $color-neutral-100;
	font-size: 1.125rem;
	font-weight: 500;

	@media screen and (width < $bp-mobile) {
		margin-bottom: 1rem;
		margin-left: 1.25rem;
	}
}

.image {
	width: 100%;
	object-fit: cover;
}

.overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%);
}
