@use "../../assets/styles/variables.scss" as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: min(100%, 1240px);
	margin-inline: auto;
	padding: 3rem 1rem 0;
	font-weight: 500;
}

.header a {
	color: $color-primary;
	&:is(:hover, :focus) {
		text-decoration: underline;
	}
}

.header ul {
	display: flex;
	gap: 3.5rem;
	padding-inline-start: 0;

	@media screen and (width < $bp-mobile) {
		font-size: 0.75rem;
		gap: 1rem;
		text-transform: uppercase;
	}
}
