@use "./assets/styles/variables.scss" as *;
@import "normalize.css";

* {
	box-sizing: border-box;
}
html {
	font-family: $ff-primary;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

.wrapper {
	display: grid;
	gap: 3rem;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 1rem;
}
