@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

$color-neutral-100: hsla(0, 0%, 100%, 1);
$color-neutral-300: hsla(0, 0%, 97%, 1);
$color-neutral-900: hsla(0, 0%, 0%, 1);
$color-primary: hsla(0, 100%, 69%, 1);

$ff-primary: "Montserrat", sans-serif;
$fw-400: 400;
$fw-500: 500;
